html, body {
    padding: 0;
    margin: 0;
}

#context {
    /*border: 2px solid #0000ff;*/
    width: calc(100% - 2px);
}

#north { 
    background-repeat:repeat-x;
    background-image:url('../img/shadow4.jpg');
    width: calc(100% - 4px);
    height: 28px;
}

#south { 
    background-repeat:repeat-x;
    background-image:url('../img/shadow2.jpg'); 
    width: calc(100% - 4px);
    height: 18px;
}

#north, #west, #west2, #centr, #centr2, #east, #east2, #east3, #south {  
    border: 1px solid #ccc; 
}

#midl { 
    border: 0 !important; 
}

.ui-dialog-buttonpane {
   background: #efeffb !important; 
}

.ui-button-text-only .ui-button-text {
    padding: .2em .2em;
}

#north button.ui-widget {
    height: 22px;
    margin-top: 3px;
    margin-left: 8px;
    padding: 2px;
    width: 94px;
    border-radius: 0;
}

.ui-jqgrid .ui-jqgrid-htable th {
    height: 1.6em !important;
}

.ui-jqgrid .ui-jqgrid-view, .ui-jqgrid .ui-jqgrid-pager
.ui-jqgrid .ui-pg-input, input.ui-widget,
select.ui-widget, textarea.ui-widget, button.ui-widget { 
    font-size: 12px; 
}

.ui-jqgrid tr.jqgrow td, .ui-widget select{ 
    height: 18px; 
}

p.pantitle {    
    margin-top: 6px;
    margin-bottom: -3px;
    margin-left: 3px;
}

p.field, input.field, textarea.field {
    border: transparent;     
    border: 1px groove #ccc;   
    height: 14px;  
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    margin-top: 6px;
    margin-left: 4px;
    margin-bottom: 0px;
    vertical-align: top; 
    display: inline-block;
}

p.field {
    background-color: #dfeffc;
    padding-top: 1px;
}

