html, body {
    padding: 0;
    margin: 0;
}
#context {
    /*border: 2px solid #0000ff;*/
    width: calc(100% - 2px);
}
#north { 
    background-repeat:repeat-x;
    background-image:url('../img/shadow2.jpg');
    width: calc(100% - 4px);
    height: 24px;
}
#south { 
    background-repeat:repeat-x;
    background-image:url('../img/shadow3.jpg'); 
    width: calc(100% - 4px);
    height: 16px;
}
#north, #west, #west2, #centr, #centr2, #east, #east2, #east3, #south {  
    border: 1px solid #ccc; 
}
#midl { 
    border: 0 !important; 
}
#context #pan1, #context #pan2, #context #pan3, #context #pan4 {
    padding-left: 4px;
}

.ui-button-text-only .ui-button-text {
    padding: .5em .5em;
}
.ui-widget,
.ui-widget .ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,
.ui-jqgrid,.ui-jqgrid .ui-jqgrid-view,
.ui-jqgrid .ui-jqgrid-pager,
.ui-jqgrid .ui-pg-input { 
    font-size: 12px; 
}
.ui-jqgrid tr.jqgrow td, .ui-widget select{ 
    height: 18px; 
}
p.field2, input.field2, textarea.field2 {
    border: transparent;     
    border: 1px groove #ccc;   
    height: 14px;  
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    margin-top: 6px;
    margin-left: 2px;
    margin-bottom: 0px;
    vertical-align: top; 
    display: inline-block;
}
p.field2 {
    background-color: #dfeffc;
    padding-top: 1px;
}

