.main-nav {
    z-index:100000;
}
/* Уровень 1: Горизонтальное отображение */
.main-nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-repeat:repeat-x;
    background-image: url('../lib-img/shadow1.jpg');
}

.main-nav > ul > li {
    position: relative;
}

.main-nav a {
    z-index:90000;
    border:1px solid transparent;
    color:#4F4F4F;
    display:block;
    font-size:16px;
    font-weight: bold;
    padding: 4px 10px;
    position:relative;
    text-decoration:none;
}

.main-nav a:hover {
    background-color:#e4ecf4;
    border-color:#999
}

/* Скрытие 2-го и 3-го уровней по умолчанию */
.menu-level-2, .menu-level-3 {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #e3e3e3;
    min-width: 200px;
    z-index:90000;
}

/* Уровень 2: Позиционирование под Уровнем 1 */
.menu-level-1 > li > .menu-level-2 {
    top: 100%;
    left: 0;
}

/* Уровень 3: Выезжает справа от Уровня 2 */
.menu-level-2 > li {
    position: relative;
}

.menu-level-2 > li > .menu-level-3 {
    top: 0;
    left: 100%;
}

/* Добавляем класс для отображения активного (открытого) меню */
.menu-level-2.active,
.menu-level-3.active {
    display: block;
}
.separator {
    height: 1px;
    background-color: #aaa;
    margin: 1px 0;
    list-style: none;
}